<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MultiMedia Network Lab member</title>
</head>
<body>
    <table border="1">
        <tr>
        {% for student_name in name %}
         <td>{{student_name}}</td>
        {% endfor %}
        </tr>
        <tr>
        {% for student_age in age %}
         <td>{{student_age}}</td>
        {% endfor%}
        </tr>
    </table>
</body>
</html>